body {
    font-family: Pretendard, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #0B101A;
    width: 1170px;
    margin: 0 auto;
    padding: 1rem 5rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}